<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag 'application', "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900'>", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} fade-in" %>
    <% end %>
  
  
    <div id="main" role="main">

              <%= yield %>
    </div>
          
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  </body>
</html>